*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('contact.png');
    background-size: 100% 100%; /* Trải ảnh nền theo cả chiều rộng và chiều cao */
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 10px 10px;
}

/* Logo hoặc tiêu đề bên trái */
.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

/* Danh sách menu */
.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
}

/* Mục menu */
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    background-color: #007bff;
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.6);
}
.login-btn{
    background-color: #615d50;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
    margin-left: auto;
}
.login-btn:hover{
    background-color: #7dbec0;
}
.contact-card {
    background-color: #1f1f1f;
    color: white;
    border-radius: 15px;
    padding: 30px;
    width: 700px;  
    height: auto;  
    padding: 25px; 
    position: relative;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.contact-card h2 {
    font-size: 28px;
    font-weight: bold;
}
.contact-item {
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.contact-item i {
    font-size: 20px;
    color: #ffcc00;
    margin-right: 12px;
}
.divider {
    border-bottom: 1px dashed white;
    margin: 10px 0;
}

